@font-face{
	font-family: "myFont";
	src:url('../fonts/TRADEGOTHICLTSTD-BDCN20.OTF');
}
html, body{
	font-family: "myFont" !important;
	height: 70%;
	padding: 0px;
	margin: 0px;
	position: relative;
}
.center{text-align:center}
.pic{
	/* Styles specific to the pic class */
	width:100px;
	height:100px;
	position:absolute;
	border:5px solid #999999;
	border-bottom:21px solid #999999;
	background-color: #999999;
	
	/* CSS3 Box Shadow */
	-moz-box-shadow:2px 2px 3px #333333;
	-webkit-box-shadow:2px 2px 3px #333333;
	box-shadow:2px 2px 3px #333333;
}

 .pic a{
	/* Specific styles for the hyperlinks */
	/*text-indent:-999px;*/
	text-align:center;
	color:#000000;
	display:block;
	padding-top:100px;
}
 .pic a:hover{
	color:white;
}
.pic a p, .pic a span {
	font-weight:bold;
	font-size:17px;
	font-family:"myFont";
}
	.home-gallery{
		position: relative;
		margin-top: 20px;
		width: 100%;
		height:90%;
	}
	.gallery-container img:hover{
		opacity: 1 !important;
	}
	.home-thumbnail-bottom{
		width: auto;
		height: auto;
		top: -50px;
		position: relative;
	}
	.home-thumbnail-bottom td{
		height: 100%;
		width: 200px;
	}
	.home-thumbnail-bottom img:hover{
		box-shadow: 1px 0px 8px 2px #999999;
	}
	a{
		text-decoration: none;
	}

select{
	font-family: "myFont";
}
.shadow
{
		box-shadow: 0px 0px 8px 5px grey;
}

.primary-menu{
	background-color: #999999;
	width: 100%;
	height: 70px;
	top: 0px;
	text-align: center;
	position: fixed;
	z-index: 10000;
}
.primary-container{
	min-height: 78%;
	margin-top: 98px;
	padding-top: 30px;
	background-color: white;
}
.primary-wrapper{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: white;
}
.menu-primary{
	padding-left: 0px;
	width: 880px;
	margin: 0 auto;
	height: auto;
	z-index: 10;
	background-color: #999999;
	position: relative;
}
.small{
	display: none;
}
.menu-primary img{
	height: auto;
	margin-right: 10px;
	height:59px;
}
.menu-primary table{
	width: 100%;
}

.menu-primary td{
	text-align: center;
}

#td-house_design{
	text-align: center;
	width: 100px;
}
.menu-primary a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
.menu-primary a:hover{
	color: black;
}
.primary-footer{
	height:6%;
	bottom: 0px;
	padding-left: 5px;
	width: 100%;
	position: fixed;
	z-index: 9999;
	clear: both;
	background-color: #999999;
}

.info{
	text-align: center !important;
}
.info div a{
	text-align: center !important;
	width: 64px;
}
.footer-menu{ 
	width: 900px;
	padding-left: 0px;
	margin: 0px auto;
}
.footer-menu-wrapper td{
	width: 45px;
	text-align: center;
}
.fb-icon{
	background:#999999 url('../img/web/socialicon.png') no-repeat 0px 0px ;
	display: block;
	height: 36px;
	width: 36px;
}
.fb-icon:hover{
	background:#999999 url('../img/web/socialicon.png') no-repeat 0px -36px ;
}
.tw-icon{
	background:#999999 url('../img/web/socialicon.png') no-repeat -36px 0px ;
	display: block;
	height: 36px;
	width: 36px;
}

.product-list{
	padding: 7px 3px 2px 3px;
	margin-top: 1px;
	font-size: medium;
	background-color: white;
	font-size: 15px;
}
.caqua{
	text-decoration: none;
	color: grey;
}
.caqua:hover{
		color: white;
}

#order-repeat-name{
	width: 200px;
	height: 32px;
}
.order-footer{
	background-color: #999999;
	padding-left: 10%;
	position: relative;
}
.product-list{
	width: auto;
	padding-left: 50px;
}
.product-list:hover{
	box-shadow: inset 0px 0px 4px 0px grey;
	cursor: pointer;
	background-color: #999999;
}
.product-container .product-td-list{
	width: 250px;
	text-align: left;
}

.list-spacer{
	width: 50px;
	height: 32px;
}
.product-container{
	margin: 0 auto;
	margin-top: -40px;
	height: 100%;
	width: 900px;
	position: relative;
	left: -5%;
}
.product-img{
	margin-top: 10px;
	width: 700px;
	height: auto;
}

.product-detail{
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}
.container-order{
	margin: 0 auto;
	padding-top: 20px;
	height:100%;
	text-align: center;
	width: 100%;
	background-color: white;
	color: black;
}
.order-repeat{
	width: 30%;
	margin: 0px auto;
	display: none;
	
}
.nav-img{
	display: none;
	position: relative;
	top: -10px;
	left: 100px;
	z-index: 9;
}
.nav-img td{
	text-align: center;
	width: 64px;
}
.img-name{
	width: 100px;
	height: 16px;
	margin-bottom: 0px;
	margin: 0px auto;
}
.btn-ok{
	top: 0px;
	position: relative;
	width: 32px;
}
.order-menu{
	text-align: center;
	width: 100%;
	height: 700px;
	margin: 0 auto;
}
.order-menu .order-user{
	width: 900px;
	margin: 0 auto;
}

.order-user{
	width: 900px;
	margin: 0 auto;
}
.order-more-back{
	height: 100px;
	width: 900px;
	position: relative;
	margin: 0px auto;
}
#order-more-btn, #order-next-btn{
	position: absolute;
	width: 100px;
	height: 32.px;
}
#order-more-btn{
	left: 18px;

}
#order-next-btn{
	right: 1px;
}
.order-content{
	height: 32px !important;
}
.btn{
	padding-top: 4px;
	text-align: center;	
	background-color: #999999;
	height: 34px !important;
	width: 100px;
	border:  1px solid white;
	color: black;
	text-decoration: none;
	font-size: 16px;
	display: table;
	cursor:pointer;
}
.btn svg{
	left: 0;
	position: absolute;
	top: 0;
}
.btn > *{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	height: 100%;
}
.btn svg{
	height: 100%;
	width: 100%;
}
.btn:hover{
	color: white;
}
.order-select{
	width: 271px;
	position: relative;
	left: 0px;
}
.order-choose{
	width: 900px;
	margin: 0px auto;
}

.order-number{
	width: 100px;
}

.order-choose-name{
	width: 200px;
}
.design-thumbnail h1{
	position: absolute;
	top: 35%;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.design-thumbnail img{
	position: relative;
}

.order-container td{
	overflow: hidden;
}
.order-container input[type=text]{
	height: 42px !important;
	border: 2px solid #999999;
	font-size: 16px;
	padding: 5px;
	font-family: "myFont";
}
textarea{
	border: 2px solid #999999;
	font-size: 16px;
	font-family: "myFont";
}

.order-choose-comment{
	width: 400px;
	height: 42px;
}

#order-sales-notes{
	margin-top: 0px;
	height: 87px !important;
}
.overflowy{
	overflow-y: hidden;
}
.container-design{
	width: 768px;
	height: 100%;
	margin: 0 auto;
	background-color: white;
	color: black;
	margin-top: -50px;
}
.design-artwork{
	font-size: 20px;
}
.design-file-link, .design-house{
	font-size: 16px;
	border: 1px solid grey;
	width: 256px;
	height: 32px;
	padding: 5px 5px 5px 5px;
	margin-bottom: 16px;
}
.design-file-link{
	border: none;
}

.img-dropdown{
	text-align: center;
	border: 1px solid grey;
	cursor:pointer;
	width: 100%;
}
.img-dropdown:hover{
	border: 1px solid grey;
	cursor:pointer;
	width: 255px;
}
.img-bg svg{
	width: 100px;
	height: 120px;
}

.btn-nav-img{
	width: 64px;
}
.btn-submit{
	text-align: center;
	color: black;
	display: block;
	position: absolute;
	bottom: -32;
	right: -1;
	background-color: #999999;
}
.btn-submit{
	float: right;
}
.ochp{
	height: 32px;
	width: 20px;
	background: #999999;
	padding-top: .5em;
}
.ochp:hover{
	color: white;
}
.btn-backward{
	text-align: center;
	color: black;
	display: block;
	position: absolute;
	left: 0;
	bottom: -32;
	background-color: #999999;
}
.img-hide{
	display: none;
}
.design-house{
	width: 255px;
	height: 325px;
	overflow: scroll;
	overflow-x: hidden;
	border: 1px solid grey;
}
.img-thumbnail{
	width: 100%;
}
.img-thumbnail:hover{
	border: 1px solid grey;
	cursor:pointer;
}
#design-input-link{
	width: 403px;	
	height: 35px;
	font-size: 16px;
	padding: 2px 2px 2px 2px;
}
.design-image{
	width: 400px;
	height: auto;
}
.design-thumbnail{
	width: 400px;
	border: 1px solid grey;
	position: relative;
	text-align: center;
}
.design-comment{
	margin-top: 32px;
	height: 42px;
}
.design-thumbnail img{
	margin-top: 30px;
	height: 265px;
}

.sel{
	-webkit-appearance: none; 
	-moz-appearance:window;
	background: none;
	padding: 5px;
   font-size: 16px;
   border: 1px solid white;
   height: 39px;
   width: 100%;
   position: relative;
   border-radius: 0px;
	border: 1px solid white;
   left:0;
   top: 0;
    overflow:hidden;
    width: 120%;
    z-index: 0;
}
.design-comment textarea{
	width: 100%;
	height: 100%;
	padding: 5px;
	border: 0px;
	border-top: 1px solid grey;
}
.design-online{
	margin-top: 375px;
	padding: 5px 5px 5px 5px;
	width: 256px;
	background-color: grey;
	display: none;
}
.design-download{
	margin: 16px 0px 16px 0px;
	padding: 5px 5px 5px 5px;
	width: 256px;
	background-color: grey;
	display: none;
}
.return{
	text-align: center;
	position: relative;
	float: left;
	top: 200px;
	left: 287px;
	margin: 16px 0px 16px 0px;
	padding: 5px 5px 5px 5px;
	width: 128px;
	background-color: grey;
}
.continue{
	text-align: center;
	margin: 16px 0px 16px 0px;
	padding: 5px 5px 5px 5px;
	width: 128px;
	background-color: grey;
}

.tw-icon:hover{
	background:#999999 url('../img/web/socialicon.png') no-repeat -36px -36px ;
}
.tb-icon{
	background:#999999 url('../img/web/socialicon.png') no-repeat -72px 0px ;
	display: block;
	height: 36px;
	width: 36px;
}
.tb-icon:hover{
	background:#999999 url('../img/web/socialicon.png') no-repeat -72px -36px ;
}
.dy-icon{
	background:#999999 url('../img/web/socialicon.png') no-repeat -108px 0px ;
	display: block;
	height: 36px;
	width: 36px;
}
.dy-icon:hover{
	background:#999999 url('../img/web/socialicon.png') no-repeat -108px -36px ;
}
.yt-icon{
	background:#999999 url('../img/web/socialicon.png') no-repeat -144px 0px ;
	display: block;
	height: 36px;
	width: 90px;
}
.yt-icon:hover{
	background:#999999 url('../img/web/socialicon.png') no-repeat -144px -36px ;
}
.ml-icon{
	background:#999999 url('../img/web/socialicon.png') no-repeat -234px 0px ;
	display: block;
	height: 36px;
	width: 36px;
}
.lg-icon{
	margin-left: 500px;
	background:#999999 url('../img/web/lock.png') no-repeat -36px 0px ;
	display: block;
	height: 36px;
	width: 36px;
}
.lg-icon:hover{
	background:#999999 url('../img/web/lock.png') no-repeat 0px 0px ;
	display: block;
	height: 36px;
	width: 36px;
}
.ml-icon:hover{
	background:#999999 url('../img/web/socialicon.png') no-repeat -234px -36px ;
}
/* carousel */
		.carousel-small{
			display: none;
		}
			.carousel{
			position: relative;
			overflow: hidden;
			width: 810px;
			margin: 0 auto;
			margin-bottom: 32px;
		}
		#carousel {
			padding-left: 40px;
			position: relative;
		  	width: 3000;
		  	height: 25px;
		  	font-size: 15px;
		  	margin: 0 auto;
		}
		#carousel .carousel_box {
		display: inline-block;
		vertical-align: top;
		zoom: 1; /* Fix for IE7 */
		*display: inline; /* Fix for IE7 */
		  width: 100px;
		  padding-top:6px;
		  height: auto;
		  color: #999999;
		  text-align: center;
		  text-transform: uppercase;
		  cursor: pointer;
		}
		.active{
			background-color: #999999 !important;
			-webkit-transform-origin:50%,50%;
			color: white !important;
			height: 25px !important;
			width: 100px !important;
			font-size: 15px !important;

		}
		#cr-back, #cr-next{
			display: block;
			position: absolute;
			z-index: 9999;
			width: 25px;
			height: 25px;
			background: white;
			/*url('../img/web/arrow.png') */
		}
		#cr-back{
			top: 0px;
			background-position: -32px -35px;
		}
		#cr-next{
			right: 0px;
			width: 40px;
			top: 0px;
			background-position: -32px -3px;
		}
/* end carousel*/
/*Gallery*/
@media screen and (max-height: 800px) {
	.home-1{
	padding:10px;
    margin:30px auto 0;
    position:relative;
    width: 900px;
    height:75%;
    min-height: 370px;
    max-height: 400px;
	}
   .nav #next, #back{
   	height: 94.5% !important;
   }
.contentImagesSmall{
	display: none;
}
.contentImages{
    padding:0px;
    margin:0px auto 0;
    position:relative;
    width: 68%;
    height:100%;
    overflow:hidden;
}
.pics{  
    position:relative;
    display:block;
    float:left;
    width:100%;
    height:100%;
}
.pics img {
    position:relative;
    vertical-align:bottom;
    width: 100%;
    height: 100%;
}
.pics span{
    cursor:pointer;
    position:absolute;
    margin-left:0px;
    height:100%;
    max-height: 500px;
    width:100%;
    text-align:center;
    background:white;
    line-height:196px;
}

.nav{
	display: none;
	position: absolute;
	z-index: 9999;
	top: 138px !important;
	width: 70%;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
.nav #next, #back{
	width: 50px;
	widows: 64px;
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	height: 95% !important;
	top: -30px;
	}
.nav img{
	top: 150px;
	position: absolute;
	height: 10%;
}
#next{
	position: absolute;
	left: 45px;
}
#back{
	position: absolute;
	right: 16px;
}
#pause{
	position: absolute;
	top: -30px;
	left: 43%;
}
#pause img{
	width: 64px;
	height: 6%;
}
}


@media screen and (min-height: 800px) {
	.home-1{
	padding:10px;
    margin:30px auto 0;
    position:relative;
    width: 900px;
    height:100%;
    max-height: 550px;
	}
   .nav #next, #back{
   	height: 94.5% !important;
   }
.contentImagesSmall{
	display: none;
}
.contentImages{
    padding:0px;
    margin:0px auto 0;
    position:relative;
    width: 100%;
    height:100%;
    overflow:hidden;
}
.pics{  
    position:relative;
    display:block;
    float:left;
    width:100%;
    height:100%;
}
.pics img {
    position:relative;
    vertical-align:bottom;
    width: 100%;
    height: 100%;
}
.pics span{
    cursor:pointer;
    position:absolute;
    margin-left:0px;
    height:100%;
    width:100%;
    text-align:center;
    background:white;
    line-height:196px;
}

.nav{
	display: none;
	position: absolute;
	z-index: 9999;
	width: 100%;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
	.nav #next, #back{
		width: 50px;
		display: inline-block;
		vertical-align: top;
		zoom: 1; /* Fix for IE7 */
		*display: inline; /* Fix for IE7 */
		height: 95% !important;
		top: -30px;
		}
	.nav img{
		top: 230px;
		position: absolute;
		height: 10%;
	}
	#next{
		position: absolute;
		left: 45px;
	}
	#back{
		position: absolute;
		right: 30px;
	}
	#pause{
		position: absolute;
		top: -30px;
		left: 48%;
	}
	#pause img{
		height: 10%;
	}
}

/**End gallery/

/*Home*/
	.home-container{
		width: 100%;
		margin: 0 auto;
		height: 100%;
		margin-top: -80px;
		position: relative;
	}
	.home-thumbnail-bottom{
		margin: 0 auto;
		width: 950px;
		margin-top: 100px;
	}
	.main{
		margin-top: -200px;
	}

	.home-1 .nav{
		top: 40px !important;
	}
	.home-1 a{
		height: 540px !important;
	}
	.nav-div{
		position: absolute !important;
		margin-bottom: -200px !important;
	}
	
	.white-wrapper{
		width: 100%;
		height: 160px;
		background-color: white;
		position: absolute;
		z-index: 2;
	}
	.home-2{
		margin-top: 100px;
	}
/*End home*/

/*Slider*/
 .img-slide{
 	display: inline-block;
 	overflow: hidden;
 	width: 90px;
 	vertical-align: top;
 	zoom: 1; /* Fix for IE7 */
 	*display: inline; /* Fix for IE7 */
 }
 .img-slide h4{
 	position: relative;
 	font-size: 15px !important;
 }
 .title-thumb{
 	margin-top: 5px;
 	text-transform: capitalize;
 	font-size: 16px !important;
 	font-family: "myFont" !important;
 	padding-bottom: 0px !important;
 	color: black;
 }
 .slide-content{
 	margin-top: 10px;
 	height: 165px;
 	overflow: hidden;
 }
 .img-slide svg{
 	width: 90px;
 	height: 90px;
 }
 .slide-content-small{
 	display: none;
 }
 	.slide-margin{
 		width: 100%;
 		height: 22%;
 	}
 	.slide-wrapper{
 		position: relative;
		height: 30%;
		width: auto;
		margin: 0 auto;
		text-align: center;
		overflow: hidden;
	}
	.inlineb{
		display: inline-block;
		vertical-align: top;
	}
	.main-wrapper{
		width: 100%;
		text-align: center;
	}

/*End slider*/

/*House design*/
	.house-design-container{
		margin: 0 auto;
		height: auto;
		width: 900px;
	}
	.house-design-container-small{
		display: none;
	}
	a{
		text-decoration: none;
	}
	.house-design-text p{
		color: #999999;
	}
	.house-design-img-wrapper{
		margin: 5px 15px 5px 10px;
		width: 150px;
		display: inline-block;
		text-align: center;
		position: relative;
	}
	.hd{
		display: block;
		height: 32px;
		width: 300px;
	}

	img:hover{
		opacity: .5;
	}
	a:hover p{
		color: black;
	}
	.house-design-footer{
		height: 32px;
		width: 100%;
		display: none;
		bottom: -100px;
	}
/*End house design*/

/*HD Box*/
	.hd-box{
		margin: 0 auto;
	}
	.hd-box td{
		text-align: center;
	}
a:hover{
	color: white;
}
.hd-box{
	padding-top: 20px;
}
	.tengah{
		width: 200px;
		text-align: center;
	}
	.nav-img{
		width: 60px;
		display: block;
	}
	#name-img{
		color: #999999;
	}
	.btn-bk div{
		display: none;
		width: 50px;
		height: 450px;
		padding-top: 200px;
		top: 0px;
		left: -5px;
		position: fixed;
		background-color: white;
		z-index: 99999;
	}
	.btn-bk img, .btn-fw img{
		margin-left: 10px;
	}
	.btn-fw div{
		display: none;
		width: 50px;
		height: 450px;
		padding-top: 200px;
		top: 0px;
		right: 0px;
		position: fixed;
		z-index: 9999;
		background-color: white;
	}
	#naf-fw{
		left: 0;
	}
	.nav-img{
		height: 100%;
		width: 32px;
	}
/*End HD box*/

/*Ext*/
.contact-detail, .contact-map{
	width: 900px;
	margin: 0 auto;
	margin-top: -50px;
}
#contact-ok{
	width: 100px !important;
}
.art-content{
	width: 900px;
	margin: 0 auto;
}
/*End ext*/

/*Slider plugin*/
/* General Demo Style */

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    background: #fff;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container > header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding: 30px;
}


.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	line-height: 26px;
	font-weight: 300;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
	padding-top: 10px;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #666;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}


.mi-slider {
	position: relative;
	margin-top: 30px;
	overflow: hidden;
	height: 490px;
	width: 1400px;
	margin: 0 auto;
}

.mi-slider ul {
	list-style-type: none;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 140px;
	overflow: hidden;
	text-align: center;
	pointer-events: none;
}

.no-js .mi-slider ul {
	position: relative;
	left: auto;
	bottom: auto;
	margin: 0;
	overflow: visible;
}

.mi-slider ul.mi-current {
	pointer-events: auto;
}
.mi-slider ul.mi-current li {
	width: 120px;
}

.mi-slider ul li {
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	width: 20%;
	max-width: 300px;
	-webkit-transform: translateX(600%);
	transform: translateX(600%);
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.no-js .mi-slider ul li {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.mi-slider ul li a,
.mi-slider ul li img {
	display: block;
	margin: 0 auto;
}

.mi-slider ul li a {
	width: 112px;
	overflow: hidden !important;
	outline: none;
	cursor: pointer;
}

.mi-slider ul li img {
	border: none;
	transition: top .2s ease-in-out !important;
	position: relative;
}
.mi-slider ul li img:hover{
	left: -112px;
}

.mi-slider ul li h4 {
	display: inline-block;
	font-family: "myFont";
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	padding: 20px 10px 0;
}
 

.mi-slider nav {
	position: relative;
	top: 400px;
	text-align: center;
	max-width: 1400px;
	margin: 0 auto;
	border-top: 5px solid #333;
}

.no-js nav {
	display: none;
}

.mi-slider nav a {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: normal;
	padding: 40px 0px 0px 0px;
	text-align: center;
	font-size: 12px;
	width: 64px;
	position: relative;
	color: #cccccc;
	outline: none;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.mi-slider nav a:hover,
.mi-slider nav a.mi-selected {
	color: #000;
}

.mi-slider nav a.mi-selected:after,
.mi-slider nav a.mi-selected:before {
	content: '';
	position: absolute;
	top: -5px;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mi-slider nav a.mi-selected:after {
	border-color: transparent;
	border-top-color: #fff;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.mi-slider nav a.mi-selected:before {
	border-color: transparent;
	border-top-color: #333;
	border-width: 27px;
	left: 50%;
	margin-left: -27px;
}

/* Move classes and animations */

.mi-slider ul:first-child li,
.no-js .mi-slider ul li {
	-webkit-animation: scaleUp 350ms ease-in-out both;
	animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
	0% { -webkit-transform: translateX(0) scale(0); }
	100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
	0% { -webkit-transform: translateX(0) scale(0); transform: translateX(0) scale(0); }
	100% { -webkit-transform: translateX(0) scale(1); transform: translateX(0) scale(1); }
}

.mi-slider ul:first-child li:first-child {
	-webkit-animation-delay: 90ms;
	animation-delay: 90ms;
}

.mi-slider ul:first-child li:nth-child(2) {
	-webkit-animation-delay: 180ms;
	animation-delay: 180ms;
}

.mi-slider ul:first-child li:nth-child(3) {
	-webkit-animation-delay: 270ms;
	animation-delay: 270ms;
}

.mi-slider ul:first-child li:nth-child(4) {
	-webkit-animation-delay: 360ms;
	animation-delay: 360ms;
}

/* moveFromRight */

.mi-slider ul.mi-moveFromRight li {
	-webkit-animation: moveFromRight 350ms ease-in-out both;
	animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.mi-slider ul.mi-moveFromLeft li {
	-webkit-animation: moveFromLeft 350ms ease-in-out both;
	animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.mi-slider ul.mi-moveToRight li {
	-webkit-animation: moveToRight 350ms ease-in-out both;
	animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.mi-slider ul.mi-moveToLeft li {
	-webkit-animation: moveToLeft 350ms ease-in-out both;
	animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.mi-slider ul.mi-moveToLeft li:first-child,
.mi-slider ul.mi-moveFromRight li:first-child,
.mi-slider ul.mi-moveToRight li:nth-child(4),
.mi-slider ul.mi-moveFromLeft li:nth-child(4) {
	-webkit-animation-delay: 0ms;
	animation-delay: 0ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(2),
.mi-slider ul.mi-moveFromRight li:nth-child(2),
.mi-slider ul.mi-moveToRight li:nth-child(3),
.mi-slider ul.mi-moveFromLeft li:nth-child(3) {
	-webkit-animation-delay: 90ms;
	animation-delay: 90ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(3),
.mi-slider ul.mi-moveFromRight li:nth-child(3),
.mi-slider ul.mi-moveToRight li:nth-child(2),
.mi-slider ul.mi-moveFromLeft li:nth-child(2) {
	-webkit-animation-delay: 180ms;
	animation-delay: 180ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(4),
.mi-slider ul.mi-moveFromRight li:nth-child(4),
.mi-slider ul.mi-moveToRight li:first-child,
.mi-slider ul.mi-moveFromLeft li:first-child  {
	-webkit-animation-delay: 270ms;
	animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
	0% { -webkit-transform: translateX(600%); }
	100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
	0% { -webkit-transform: translateX(-600%); }
	100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
	0% { -webkit-transform: translateX(0%); }
	100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
	0% { -webkit-transform: translateX(0%); }
	100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
	0% { -webkit-transform: translateX(600%); transform: translateX(600%); }
	100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveFromLeft {
	0% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
	100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveToRight {
	0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
	100% { -webkit-transform: translateX(600%); transform: translateX(600%); }
}

@keyframes moveToLeft {
	0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
	100% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
}

.mi-slider {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Media Queries */
@media screen and (max-width: 910px){
	.mi-slider nav {
		max-width: 90%;
	}
	.mi-slider nav a {
		font-size: 12px;
		padding: 40px 10px 30px 14px;
	}
}

@media screen and (max-width: 740px){
	.mi-slider {
		height: 300px;
	}
	.mi-slider nav {
		top: 220px;
	}
}

@media screen and (max-width: 490px){ 
	.mi-slider {
		text-align: center;
		height: auto;
	}

	.mi-slider ul {
		position: relative;
		display: inline;
		bottom: auto;
		pointer-events: auto;
	}

	.mi-slider ul li {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transform: translateX(0) !important;
		transform: translateX(0) !important;
		padding: 10px 3px;
		min-width: 140px;
	}

	.mi-slider nav {
		display: none;
	}
}

/*Order continue*/
.order-continue-wrapper{
	position: absolute;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
  	margin-top: -30px;
	width: 600px;
	height: auto;
	margin-bottom: 80px;
}
    .accordion {
        margin: 0;
        padding:10px;
        height:20px;
        border:#999999 1px solid;
        background: white;
        font-family: "myFont";
        text-decoration:none;
        text-transform:uppercase;
        color: #000;
        font-size:1em;
        cursor: pointer;
    }
    .accordion-open {
        background:#999999;
        color: #fff;
    }
    .accordion-open span {
        display:block;
        float:right;
        padding:10px;
    }
    .accordion-open span {
        background:url(../img/web/minus.png) center center no-repeat;
    }
    .accordion-close span {
        display:block;
        float:right;
        background:url(../img/web/plus.png) center center no-repeat;
        padding:10px;
    }
    div.container {
        padding:0;
        margin:0;
    }
    div.content {
        background:white;
        margin: 0;
        padding:0px;
        font-size:.9em;
        line-height:1.5em;
        font-family:"myFont";
        /* Rubah 
        border-right:1px solid #999999;
        border-left:1px solid #999999;
        */
    }
    div.content ul, div.content p {
        padding:0;
        margin:0;
        padding:3px;
    }
    div.content ul li {
        list-style-position:inside;
        line-height:25px;
    }
    div.content ul li a {
        color:#555555;
    }
    code {
        overflow:auto;
    }
    .order-continue-artwork,.order-continue-hd,.order-continue-cd{
    	padding: 10px;
    	position: relative;
    	width: 100%;
    	height: auto;
    	text-align: center;
    }
    .order-continue-cd{
    	border-bottom:1px solid #999999;
    }
    #order-continue-cd-popup{
    	margin: 0px auto;
    }
    #order-continue-cd-popup svg{
    	width: 98px;
    }
    .order-continue-artwork-image{
    	margin: 0 auto;
    	width: auto;
    	-webkit-transition: all .25s ease 0.7s;
    	   -moz-transition: all .25s ease 0.7s;
    	    -ms-transition: all .25s ease 0.7s;
    	     -o-transition: all .25s ease 0.7s;
    	        transition: all .25s ease 0.7s;
    }
    .order-continue-artwork-image-wrapper, .order-continue-nd-image-wrapper{
    	position: relative;
    	display: inline-block;
    	vertical-align: top;
    	zoom: 1; /* Fix for IE7 */
    	*display: inline; /* Fix for IE7 */
    	margin: 0 auto;
    	margin: 5px;
    	width: 128px;
    	height: 128px;
    }
    .order-continue-artwork-image-img, .order-continue-nd-image-img{
    	width: 100%;
    	height: 100%;
    }
    .order-continue-artwork-image-delete, .order-continue-nd-image-delete{
    	position: absolute;
    	width: 25px;
    	height: 25px;
    	top: 0;
    	right: 0;
    	cursor: pointer;
    	display: none;
    }
    .order-continue-artwork-image #preload{
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	margin: 0 auto;
    }
    .order-continue-artwork-image #order-continue-artwork-image-upload{
    	height: 256px;
    	border: 1px solid #999999;
    }
    .order-continue-artwork-upload, .order-continue-nd-upload{
    	position: relative;
    	line-height: 2.3em;
    	height: 30px;
    	width: 30%;
    	margin: 0 auto;
    	margin-top: 10px;
    	margin-bottom: 10px;
    	background-color: #999999;
    }
    .order-continue-nd-upload{
    	margin-left: 2px;
    	display: none;
    }
    .order-continue-artwork-upload:hover, .order-continue-nd-upload:hover{
    	color: white;
    }
    .order-continue-artwork-upload input[type=file],  .order-continue-nd-upload input[type=file]{
    	cursor: pointer;
    	display: block;
    	position: absolute;
    	top: 0;
    	height: 32px;
    	z-index: 999;
    	opacity: 0;
    }
    .order-continue-popup{
    	position: fixed;
    	width: 100%;
    	height: 100%;
    	top: 0px;
    	z-index: 999;
    	background-color: rgba(0,0,0,.7);
    	display: none;
    }
  	.order-continue-hd{
    	padding: 10px;
    	position: relative;
    	width: 100%;
    	min-height: 50px;
    	height: auto;
    	text-align: center;
    }
    .order-continue-hd label{
    	display: block;
    	text-align: center;
    	width: 100%;
    	color: black;
    	text-transform: uppercase;
    }
    .order-continue-hd-wrapper{
    	width: 25%;
    	height: auto;
    	display: inline-block;
    	vertical-align: top;
    	zoom: 1; /* Fix for IE7 */
    	*display: inline; /* Fix for IE7 */
    	position: relative;
    	margin: 0 auto;
    }
    .order-continue-hd .order-continue-hd-img{
    	cursor:pointer;
    	width: 128px;
    	display: inline-block;
    	vertical-align: top;
    	zoom: 1; /* Fix for IE7 */
    	*display: inline; /* Fix for IE7 */
    	position: relative;
    }
    .order-continue-hd-image-delete{
    	position: absolute;
    	top: 0;
    	right: 0;
    	width: 25px;
    	display: none;
    }
    .hidden{
    	display: none;
    }
    .order-continue-hd-image{
    	position: absolute;
    	right: 0;
    	left: 0;
    	margin: 0 auto;
    	display: block;
    	height: 280px;
    	width: 100%;
    }
    #order-continue-hd-popup{
    	position: relative;
    	left: 0;
    	right: 0;
    	bottom: 0; 
    	margin: 0 auto;
    	width: 128px;
    }
    .order-continue-hd-image label{
    	display: block;
 		width: 100%;
 		height: auto;
    	text-align: center;
    	text-transform: uppercase;
    }
    .order-continue-hd-image img{
    	height: 90%;
    	cursor: pointer;
    	display: inline-block;
    	vertical-align: top;
    	zoom: 1; /* Fix for IE7 */
    	*display: inline; /* Fix for IE7 */
    }
    .order-continue-hd-thumbnail{
    	text-align: center;
    	position: absolute;
    	bottom: 64px;
    	left: 0;
    	right: 0;
    	margin: 0 auto;
    	height: 85px;
    	width: 780px;
    	overflow: hidden;
    }
    .order-continue-hd-thumbnail-right, .order-continue-hd-thumbnail-left{
    	position: absolute;
    	bottom: 23%;
    	z-index: 99;
    	width: 18px;
    	cursor: pointer;
    	display: none;
    }
    .order-continue-hd-thumbnail-right{
    	right: 15;
    }
    .order-continue-hd-thumbnail-left{
    	left: 15;
    }
    .order-continue-hd-thumbnail::-webkit-scrollbar {
    	width: 0px;
	}
    .inner-wrapper{
    	position: absolute;
    	width: 100%;
    	height: 90%;
    	text-align: left;
    	text-align: center;
    }
    .outer-wrapper{
    	padding: 10px;
    	text-align: center;
    	width: 900px;
    	height: 430px;
    	position: absolute;
    	left: 0;
    	right: 0;
    	top: 15%;
    	margin: 0 auto;
    	border: 1px solid #999999;
    	background-color: white;
    }
    .order-continue-hd-thumbnail .wrapper{
    	text-align: center;
    	cursor: pointer;
    	width: 43px;
    	display: inline-block;
    	position: relative;
    	border:none;
    	margin: 0px 5px;
    	height: 68px;
    }
    .order-continue-hd-thumbnail .wrapper:hover{
    	border-bottom: 1px solid #999999;
    }
    .thumbnail-active{
    	border-bottom: 2px solid #999999 !important;

    }
    .thumbnail-check{width: 40px !important; height: 40px !important;top: 0 !important; bottom: 0 !important; margin: auto !important;}
    .order-continue-hd-page ul{
    	position: absolute;
    	bottom: 10%;
    	left: 0;
    	left: 0;
    	margin: 0 auto;
    	width: 100%;
    }
    .order-continue-hd-page li{
    	width: 32px;
    	display: block;
    	border: 1px solid white;
    	display: inline-block;
    	vertical-align: top;
    	cursor:pointer;
    }
    #order-continue-hd-select{
    	position: absolute;
    	width: 64px;
    	left: 0;
    	right: 0;
    	margin: 0 auto;
    	bottom: 5;
    }
    .img-check{
    	position: absolute;
    	left: 0;
    	right: 0;
    	height: 50% !important;
    	top: 25%;
    	margin: 0 auto;
    }
    .grayscale{
    	-webkit-filter:grayscale(1);
    	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    	filter:grayscale(100%);
    }
    img:hover{
    	opacity: 1;
    }
    .order-continue-hd-thumbnail .wrapper img{
  		right: 0;
    	width: 100%;
    	height: 100%;
    	left: 0;
    	margin: 0 auto;
    	position: absolute;

    }
    .order-continue-hd-thumbnail .wrapper label{
    	text-transform: uppercase;
    	cursor: pointer;
    	width: auto;
 		position: absolute;
 		left: 84px;
 		line-height: 5em;
 		height: 64px;
    }
    .order-continue-nd{
    	padding: 10px;
    	position: relative;
    	width: 100%;
    	height: auto;
    	text-align: center;
    	border-bottom: 1px solid #999999;
    }
    .order-continue-nd textarea{
    	width: 99%;
    	max-width: 99%;
    	height: 128px;
    }
    .order-continue-nd-image{
    	height: auto;
    	width: 100%;
    	transition: all .7s ease;
    	-webkit-transition:all .7s ease;
    	-moz-transition:all .7s ease;
    	-o-transition:all .7s ease;
    	display: none;
    }
    .order-continue-nd p{
    	text-align: left;
    }
    .checkbox{
    	width: 15px;
		height: 15px;
		background: #999999;
		margin-bottom: 10px;
		margin-left: 3px;
		border-radius: 100%;
		position: relative;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    }
    .checkbox .label-check{
    	display: block;
		width: 9.5px;
		height: 9.5px;
		border-radius: 100px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
		transition: all .5s ease;
		cursor: pointer;
		position: absolute;
		top: 2.5px;
		left: 2.5px;
		z-index: 1;
		background: white;
		-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    }
    .checkbox input[type=checkbox]{
    	opacity: 0;
    }
    .checkbox input[type=checkbox]:checked + .label-check{
    	background:black;
    }
    .label-label{
    	display: block;
    	width: 200px;
    	text-align: left;
    	position: absolute;
    	left: 20;
    }
    .page-active{
    	color: white;
    }
/*End continue*/

/*Info*/
.alert{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
	z-index: 800;
	top: 0;
	left: 0; 
	display: none;
}
.alert div{
	padding: 5px;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	height: auto;
	border: 1px solid #999999;
	position: absolute;
	text-align: center;
	top: 45%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
progress{
	-webkit-appearance:none;
	-moz-appearance:none;
	background-color: #999999;
	position: absolute;
	width: 100%;
	top: 45%;
	left: 0;
}
progress[value]::-webkit-progress-value{
  background-image:
	   -webkit-linear-gradient(-45deg, #636363, #000000);
}
/*End info*/

/*Sizes*/
.accordion{
	height: 42px !important;
}
.sizes{
	margin-top: -80px;
}
.sizes-red{
	width: 94% !important;
}
/*End sizes*/
.order-continue-cd-wrapper{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin: 0 auto;
}
.order-continue-cd-image-delete{
	position: absolute;
	right: 0;
	top: 0;
}
.order-continue-cd-wrapper .order-continue-cd-img{
	width: 100%;
}
.btn-load{
	position: relative;
	width: 100px;
}
.btn-load svg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.shop-wrapper{
	margin-top:-50px !important;
	position: relative;
	margin: 0 auto;
	width: 900px;
	height: 110%;
}
.shop-wrapper-1,.shop-wrapper-2,.shop-wrapper-3{width: 100%;position: relative;margin-bottom:10px;}
.shop-wrapper-1{height: 15%;}
.shop-wrapper-2{height: 70%;}
.shop-wrapper-3{height: 10%;}
.inline{display: inline-block;
vertical-align: top;}
.full-w{width: 100% !important;}
.full-h{height: 100% !important;}
.full-w120{width: 120% !important;}
.full-h120{height: 105% !important;padding-bottom: 20% !important;}
.abs{position: absolute;}
.rel{position: relative;}
.fix{position: fixed;}
.bord{border: 2px solid #999999;}
.bordl{border-left: 2px solid #999999;}
.bordr{border-right: 2px solid #999999;}
.bordb{border-bottom: 2px solid #999999;}
.bordt{border-top: 2px solid #999999;}
.sw1-1,.sw1-3{width: 15%;}
.sw1-2{width: 69%;}
#shop-prev,#shop-next{display: none;}
.bread-wrapper{
	position: absolute;
	top: 0;bottom: 0;margin: auto;
	width: 100%;
	height: 50px;
}
.prog-wrapper{
	height: 10px;
	width: 100%;
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;margin:auto;
	overflow: hidden;
}
.abu{background: #999999!important;}
.proggres{
	height: 100px;
	width: 120%;
	position: absolute;
	left: -110%;
	background: #999999;
}
.bread{
	width: 50px;
	height: 50px;
	background: white;
	position: relative;
	margin-left:7%;
	border-radius: 50%;
}
.bread div{
	font-size: 20px;
	position: absolute;
	width: 17px;
	height: 20px;
	text-align: center;
	top: 0;left: 0;right: 0;bottom: 0;margin:auto;
}
.sw2-child{
	position: relative;
	width: 100%;
	height: 100%;
}
.sw2-child-1{
	width: 30%;
}
.sw2-child-2{
	width: 49%;
}
.tab{
	display: table;
}
.tabc{
	padding-top:5px;
	display: table-cell;
	vertical-align: middle;
}
.sw2-child-3{
	width: 20%;
}
.lf{text-align: left;}
.rg{text-align: right;}
.ce{text-align: center;}
.sw3-1{width: 54%;}
.sw3-2{width: 20%;}
.sw3-3{width: 25%;}
.sw2c-tittle{height: 10%;}
.sw2c-content{height: 90%;}
.cp{cursor: pointer;}
.pd5{padding: 5px;}
.pd5l{padding-left:5px;}
.brdb{border-bottom:2px solid #999999;}
.mrg5{margin: 5px;}
.mrgl5{margin-left: 5px;}
.mrgr5{margin-right: 5px;}
.mrgt5{margin-top: 5px;}
.mrgb5{margin-bottom: 5px;}
.up{text-decoration: uppercase;}
.vac{vertical-align: center;}
.w10{width: 10%;}
.w20{width: 20%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}
.h10{height: 10%;}
.h20{height: 20%;}
.h30{height: 30%;}
.h40{height: 40%;}
.h50{height: 50%;}
.h60{height: 60%;}
.h70{height: 70%;}
.h80{height: 80%;}
.h90{height: 90%;}
.h100{height: 100%;}
.h32{height: 32px;}
.font16{font-size: 16px;}
.block{display: block !important;}
._99{z-index: 99;}
.op{opacity: 0;}
.auto{margin: 0 auto;}
.absc{top: 0;bottom: 0;left: 0;right: 0;margin:auto;}
.abst{top: 0;}
.absl{left: 0;}
.absb{bottom: 0;}
.absr{right: 0;}
.hvb:hover{
	background: #999999;
}
.trans{
	-webkit-transition: all .2s ease 0s;
	   -moz-transition: all .2s ease 0s;
	    -ms-transition: all .2s ease 0s;
	     -o-transition: all .2s ease 0s;
	        transition: all .2s ease 0s;
}
.sw2c-content .cat{
	height: 40px;
	text-transform: uppercase;
}
.list .svg{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 80%;
	width: 100%;
}
.list .svg svg{
	height: 100%;
	width: 100%;
}
.list .svg svg:hover .fil0{
	fill:#999999;
}
.list .label{
	text-align: center;
	text-transform: uppercase;
	background: #999999;
	height: 15%;
	width: 100%;
}
.svg-wrapper{height: 250px;margin: 10 10px; position: relative;width: 200px;}
.up{text-transform: uppercase;}
.ovh{overflow: hidden;overflow-x: hidden;overflow-y: hidden;}
.ovs{
	overflow: scroll;
}
.fabric-wrapper{
	position: relative;
	width: 80%;
	margin:10px;
	height: auto;
	overflow: hidden;
	max-height: 255px;
}
.fw-pict{
	height: 100%;
	position: relative;
	border-right: 2px solid #999999;
	width: 30%;
}
.size-opt{padding-top: .8em;}
.shop-image{width: 30%;}
.shop-wrapper-2-content{width: 100%;}
.shop-image svg{width: 250px; height: 100%; position:relative;}
.fw-opt{width: 70%;height: auto;}
.fw-price{height: 30px;font-size: 20px;padding-top: 5px;}
.fw-name{height: auto;padding: 5px;}
.options-wrapper{width: 120px; height: auto;margin: 10px;}
.options-parent{padding-left: 10px;height: auto;}
.ow-price{height: 35px;padding-top: .3em;font-size: 20px;}
.ow-opt{height:auto; min-height:70px;font-size: 20px;}
.ow-opt h2{top: 0;bottom: 0;margin: auto;font-size: 20px;height: auto;left: 0;right: 0;}
.size-input{width: 40px;border-right: 2px solid #999999;}
.size-input input[type=text]{font-size: 24px;}
.size-parent{height: auto;margin: 10px;width: 80%;}
.size-add{width: 40px;height: 40px;}
.size-add-wrapper{width: 40px;height: 40px;right: 50px;top: 0;z-index: 99999;}
.size-wrapper{height: 40px;}
.no{display: none;}
.relc{margin: 0px auto;}
.size-delete{right: 0;top: 0;bottom: 0;margin: auto;}
.option-check{top: 0;left: 0;right: 0;bottom: 0;margin: auto;width: 40px;height: 40px;}
.fw-pict svg{width: 100%;height: 100%;position: relative;max-height: 200px;}
.size-name{width: 30%;font-size: 16px;}
.size-number{width: 10%;font-size: 16px;}
.size-comment{height: 100px;width: 33%;}
.size-select-wrapper{width:15%; }
.size-roster{height: 40px;width: 82%;}
.text{font-size: 16px;border:2px solid #999999;height:32px;padding:5px;}
.rgba5{background: rgba(0, 0, 0, 0.5);}
.frame-wrapper{top: 0;left: 0;z-index: 9999999;}
.frame-content{width: 900px;height: 512px;background: white;}
.tab-upload-btn{padding: 8% 5%;border: none;}
.tab-upload-file-wrapper{height: 44px;width: 150px;}
.tab-upload-file-wrapper [type=file]{height: 100px;width: 200px;opacity: 0;z-index: 10;}
.tab-upload-file-wrapper:hover  label{color: white;}
.tab-upload-file-list{width: auto;height: 32px;padding: 7px 5px;;margin: 5px 5px;display: inline-block;}
.tab-upload-file-list:hover img{display: block;}
.tab-upload-list{width: auto;height: auto;margin-top: 10px;}
.tab-upload-list ul{padding-left: 15px;}
.tab-upload-list li{font-size: 16px;list-style: square;}
.tab-upload-file-list img{height: 25px;width: 25px;position: absolute;right: 0;top: 0;cursor: pointer;display: none;}
.tab-upload-file-wrapper label{height: 100%;width: 100%;color: black;padding: 8% 5%;text-align: center;top: 0;left: 0;z-index: 0;}
.tabs .tab-content{position: absolute;bottom: 0;right: 0;width: 80%;height: 100%;border-left: 1px solid #999999; display: none;z-index: 9;background: white;}
.tabs .trans{width: 100%;height: 100%;border: 2px solid white;display: inline-block;position: relative;background: #999999;padding: 8% 5%;text-align: left;}
.tabs .tab-li{width:19%;height:50px;list-style-type: none;margin-bottom: 5px;padding-left: 5px;padding-top: 5px;}
.tabs input[type=radio]{width: 150px;height: 60px;position: absolute;z-index: 9999;opacity: 0;cursor: pointer;}
.tabs [type=radio]:hover + label{background: white;border: 2px solid #999999;box-sizing: border-box;}
.tabs input[type=radio]:checked ~ label{background: white;border: 2px solid #999999;box-sizing: border-box;}
.tabs input[type=radio]:checked ~ div{display: block;}
.tab-upload{width:150px;height: 45px;position: absolute;padding: 0px;left:5px;}
.tab-upload label{width: 100%;height: 100%;padding: 8% 0%;}
.tab-upload [type=file]{border: 2px solid black;height: 100%;width: 100%;}
.tabs textarea{width: 90%;height: 80%;}
.tabs .order-continue-hd-page{height: 100px;width: 100%;bottom: -60px;}
.tabs .order-continue-hd-page ul{height: 32%;width: 100%;}
.tabs .order-continue-hd-page li{height: 100%;width: 5%;position: relative;}
.tab-ok{right: 20;top: 20;}
.order-continue-nd-image-wrapper{left: -5px;top: -5px;}
.order-image-delete{height: 25px;height: 25px;right: 0;top: 0;}
.order-continue-nd-image-wrapper:hover > .order-image-delete{display: block;}
.size-option{width: 40px;right: 20px;}
.size-option:hover{background: #999999;}
.label-file{left:160px;top:22.5px;}
.artwork-link-wrapper{width:400px;height:auto;margin-top: 60px;}
.artwork-link-wrapper [type=text]{height:30px;}
.size-option-popup{height: auto;width: 200px;background: white;padding: 5px;}
.table-color tr:nth-child(2n+1){background: rgba(153, 153, 153, 0.5);}
.size-option-popup:after,.pop-cart:after{
	content: '';
	height: 0px;width: 0px;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	display: block;
	position: absolute;
	top: -15px;
}
.size-option-popup:after{left: 40%;	border-bottom:15px solid #999999;}
.pop-cart:after{right: 20px;	border-bottom:15px solid white;}
.down{
	z-index: 999999999999;
	display:inline-block;
	height:10px;
	width:10px;
	top:10;
	right:-25px;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-top: 10px solid #999999;
}
@-webkit-keyframes turun {
	0% { top: -100%; }
	100% { top: 0; }
}
@-moz-keyframes turun {
	0% { top: -100%; }
	100% { top: 0; }
}
@-ms-keyframes turun {
	0% { top: -100%; }
	100% { top: 0; }
}
@-o-keyframes turun {
	0% { top: -100%; }
	100% { top: 0; }
}
@keyframes turun {
	0% { top: -100%; }
	100% { top: 0; }
}
.size-option:hover img{z-index: 999;-webkit-animation:turun .3s;animation: turun .3s;-moz-animation:turun .3s;background: #999999;}
.size-price{color: black;font-size: 16px;top: 0;left: 0;background: white;}
.size-price h1{position: absolute;display: block;right: 0;top: 0;height: 100%;}
.size-option-popup .btn{margin: 0 auto;}
.size-option-popup td{height: 25px;}
.five{background:white;}
.fleft{float:left;}
.fright{float:right;}
.tabs .order-continue-hd-thumbnail{width:100%;bottom:25px;}
.tabs .order-continue-hd-image img{height:150px;top:-50px;position:absolute;}
.cart-icon{width: 44px;height: 44px;right: 10px;top: 15%;}
.pop-cart{width: 400px; height: auto; min-height: 200px;right: -10px;top: 130%;background: white;}
.pop-cart .content{height: 200px;border: none;padding: 10px;}
.pop-cart .content table > * {text-transform: capitalize;font-size: 16px;}
.pop-cart .content table tr:first-child td{border-bottom: 2px solid #999999;}
.pop-cart .cart-icon-button div{padding-top: 10px;}
.tab-checkout{padding: 5px;}
.tab-checkout li > div{width: 80%;height: 100%;right: 0;top: 0;border-left:2px solid #999999; padding: 10px;}
.tab-checkout li{list-style: none;width: 19%;height: 60px;margin-bottom: 5px;background: #999999;}
.tab-checkout li > label{background: #999999;color: black; width: 100%; height: 100%;padding-left: 10px;}
.tab-checkout li > label:hover{color: white;}
.tab-checkout li > [type=radio]{position: absolute;left: 0;opacity: 0;}
.tab-checkout li > [type=radio]:checked ~ div {display: block;}
.tab-checkout li > [type=radio]:checked ~ label{background: white;color: black;border: 2px solid #999999;box-sizing: border-box;}
.tab-checkout .checkout-content > div {width:49%;}
.sos-fb-btn{height:40px;width:80%; text-align: center;}
#btn-check-out-2,#btn-check-out-3,#btn-check-out-4,#btn-check-out-5{bottom: 10px;width: 100px;right: 10px;}
#btn-check-out-reset{bottom: 10px;width: 100px;right: 110px;}
#client-notes{height: 100px;}
#tab-6 tr:nth-child(1){background: #999999;height: 40px;vertical-align: middle;}
.success-order{text-align: center;margin-top: 30%;}
.success-order a{position: relative;margin: 0 auto;}
.bread-wrapper .custom{display: none;}
.custom-bread{
	margin-top: 5px;
	width: 40px;
	height: 40px;
	background: white;
	position: relative;
	margin-left:6.5%;
	border-radius: 50%;
	display: inline-block;
	float: left;
}
.custom-1,.custom-2{
	min-height: 500px !important;
	margin-top: 10px;
}
.custom-1{
	width: 45%;
}
.custom-2{
	width: 40%;
}
.custom-list ul{padding: 5px 0px;margin:0px;width: 100%;border-top:1px solid #999999;}
.custom-list li{display: block;float: left;width: 25%;height: 40px;margin-bottom:15px;padding-right:5px;}
.custom-list .custom-upload{width: 100%;height: 32px; color: white;background-color: #999999;display: table;text-align:center;position:relative;cursor:pointer;}
.custom-list .custom-upload label{display:table-cell;vertical-align:middle;}
.custom-list .custom-upload input[type=file]{position:absolute; z-index:99; left:0;top:0;height:100%;width:100%; display:block;opacity:0;}
.custom-upload progress{position:absolute;height:100%;width:100%;z-index:999;top:0;left:0;}



